.no_margin {
  margin:unset!important
}
.table-label{
  padding-top: 7px!important;
  margin-bottom:-10px!important;
  padding-right: 9.5px!important;
  font-size: 16px!important;
}
.table-div {
  margin-top: -25px;
}
#daac_selection {
  margin-bottom:1rem;
  padding-left: 4px;
}
.b-table-sticky-header, .table-responsive, [class*=table-responsive-] {
  margin-bottom: unset;
  border-radius: 5px;
}
#contact_span{
  margin-left:2rem; 
}
.eui-label-nopointer {
  cursor: auto!important;
}
.extra_space {
  margin-top: 1rem!important;
}
.bbox {
  min-width: 100px;
  max-width: 100px;
}
.bbox.form-control {
  display: inline-flex;
  margin-left: 10px;
}
.btable {
  min-width: unset;
  max-width: 200px;
}
.btable.form-control {
  display: inline-flex;
  margin-left: 10px;
}
.eui-checkbox {
  display: inherit;
  margin-right: -8px!important;
}
span.checkbox label, .checkbox-label {
  margin-left: 0px;
  /* font-weight:bold; */
  padding-right: 1rem;
}
.checkbox-label {
  font-size: smaller;
  margin: .2rem!important
}
span span label {
  margin-left: 2rem;
}
span span:nth-child(-n+1) label {
  margin-left:0rem;
}
.question_size {
  padding-left: 0px;
  padding-right: 0px;
}
.question_section {
  margin-bottom: 2rem;
}
#reset_data {
  background-color: #db1400;
}
.eui-banner--danger {
  text-align: left;
}
.hidden {
  display: none;
}
.float_right {
  float: right;
}
.col-form-label {
  /* font-weight: bold; */
}
h3 span label {
  font-size: 16px!important;
}
.section_required {
  color: #DB1400!important;
  font-size: 16px!important;
}
.required {
  color: #DB1400 !important;
  padding-top: 7px!important;
  padding-right: 9.5px!important;
  font-size: 16px!important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Edge */
  color: #DB1400;
  font-size: 16px!important;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #DB1400;
  font-size: 16px!important;
}
input::placeholder, textarea::placeholder {
  color: #DB1400;
  font-size: 16px!important;
}
.date_formats {
  padding-top: 8px;
  position: absolute;
  left: 70px;
}
.date_formats_required {
  padding-top: 7px;
  padding-left:10px;
}
label {
  margin: .5rem!important;
  margin-left: 9.5px!important;
  margin-bottom: -1px!important;
  cursor: pointer!important;
}
.checkbox-label {
  cursor: pointer!important;
}
h3 {
  padding-top: 10px;
}
p {
  margin-bottom: unset;
}
button {
  margin-left: 1rem;
  margin-right: 1rem;
  min-height: 45px;
}
.left_button_bar button:first-child {
  margin-left: 0 !important;
}
.right_button_bar button:last-child {
  margin-right: 0 !important;
}
.help {
  color:#b5babe;
}
.form-group {
  position: relative;
}
.form-file-error,
.form-select-error,
.form-radio-group-error,
.form-textarea-error,
.form-checkbox-error,
.form-input-error,
.form-group-error,
.form-section-error,
.form-table-error {
  border-color: #DB1400;
}
.form-group-error,
.form-radio-group-error,
.form-section-error,
.form-table-error {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 5px;
}
.form-group {
  margin-bottom:unset;
}
input {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 5px;
  border-color:#b2b2b2
}
.radio_checkbox_group_error {
  border-color: #DB1400;
  border-radius: 5px;
}

fieldset {
  /* border-left: unset; */
}
.button_bar {
  display: flex;
  justify-content: center;

}
.left_button_bar {
  display: inline;
  float: left;
  margin-top: 0px;
  margin-right: 16.25rem;
}
.right_button_bar {
  display: inline;
  float: right;
  margin-top: 0px;
  margin-right:.5rem;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  /* display: -webkit-box; */
  /* display: flex; */
  display: flow-root !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom:1rem;
}
.console_container {
  height: 1em;
}
.console_bar {
  float: right;
}
@media (min-width: 1200px) {
  .navbar.vue-fixed-header--isFixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    border:1px solid darkgrey;
    background-color: rgb(235, 235, 235);
    margin-bottom:1rem;
  }
}
@media (max-width: 1199px) {
  .navbar.vue-fixed-header--isFixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  .left_button_bar {
    margin-right:5rem;
  }
}
@media (max-width: 991px) {
  .navbar.vue-fixed-header--isFixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  button {
    margin-right:unset;
  }
  .left_button_bar {
    margin-right:0rem;
  }
  .right_button_bar {
    margin-right:0rem;
  }
}
@media (max-width: 868px) {
  .navbar.vue-fixed-header--isFixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left:0;
    padding-right:0;
  }
  button {
    margin-right:unset;
  }
  .left_button_bar {
    margin-right:0rem;
  }
  .right_button_bar {
    margin-right:0rem;
  }
}
@media (max-width: 788px) {
  .navbar.vue-fixed-header {
    padding-left:0;
    padding-right:0;
  }
  .navbar.vue-fixed-header--isFixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left:0;
    padding-right:0;
  }
  button {
    margin-right:unset;
    margin-left: 0.25rem;
  }
  .left_button_bar {
    margin-right:0rem;
  }
  .right_button_bar {
    margin-right:0rem;
  }
}

@media (max-width: 697px) {
  .navbar.vue-fixed-header {
    padding-top:5px;
    padding-bottom:5px;
  }
  .navbar.vue-fixed-header--isFixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left:0;
    padding-right:0;
  }
  button {
    margin-right:unset;
    margin-left: 0.1rem;
  }
  .left_button_bar {
    margin-right:0rem;
  }
  .right_button_bar {
    margin-right:0rem;
  }
}
@media (max-width: 684px) {
  .navbar.vue-fixed-header--isFixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding:5px;
  }
  button {
    margin-right:unset;
    margin-left: 0.1rem;
    font-size: 2.5vw;
  }
  .left_button_bar button, 
  .left_button_bar button:first-child {
    margin:.25em!important;
  }
  .right_button_bar button,
  .right_button_bar button:last-child{
    margin:.25em!important;
  }
}
/*@media screen and (max-width: 900px) and (min-width: 600px) {*/